# IDE
.idea

# Backburner / Rust
backburner/.cargo
backburner/target
backburner/.dev/samples/workdir
backburner/.package-cache
backburner/github.com*
backburner/.dev/samples/4K-10bit-bkp.mkv

# Cliff / Go
cliff/build

# Webapp / NodeJS
webapp/dist
webapp/node_modules
release.zip

# Pulsar / C# .Net
pulsar/bin
pulsar/obj
pulsar/PulsarTests/bin
pulsar/PulsarTests/obj
*.user
pulsar/publish

# conf
.deploy/dedicated
