# IDE
.idea

# Backburner / Rust
services/backburner/.cargo
services/backburner/target
services/backburner/.dev/samples/workdir
services/backburner/.package-cache
services/backburner/github.com*
services/backburner/.dev/samples/4K-10bit-bkp.mkv

# Cliff / Go
services/cliff/build

# Webapp / NodeJS
services/webapp/dist
services/webapp/node_modules
release.zip

# Pulsar / C# .Net
services/pulsar/bin
services/pulsar/obj
services/pulsar/PulsarTests/bin
services/pulsar/PulsarTests/obj
*.user
services/pulsar/publish
\obj
\bin

# conf
.deploy/dedicated
